<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie List</title>
</head>
<body>
    {% for movie in movie_list %}
        <div>
            <ul>
                <li>{{ movie.title }}</li>
                <li>{{ movie.description }}</li>
                <li>{{ movie.year }}</li>
                <li>{{ movie.country }}</li>
            </ul>
        </div>
    {% endfor %}
</body>
</html>